<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>UIAppFonts</key>
	<array>
		<string>RobotoMono-Bold.ttf</string>
		<string>RobotoMono-Medium.ttf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.360665994965-vm9sl8fqjqv67r4ah5c6649e5jk5od5s</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
